
.container {
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after {
  clear: both;
}


@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}



/* PLugins */
/* ====================================================== */
/* Style */
/* ====================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
}

li {
  list-style-type: none;
}
.custom-list {
  padding: 0;
  margin: 0;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #ffffff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}


/* BUTTONS */
.button {
  padding: 15px 32px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #e72f29;
  text-align: center;
}
.button:hover {
  color: #fff;
  background: #de1f19;
  text-decoration: none;
}
.button span {
  margin-right: 7px;
}
.button i {
  color: #fff;
}
.button i.fa.fa-arrow-circle-right {
  font-size: 16px;
}





/* SHORTCODES */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}


/* ABOUT */
.about {
  position: relative;
  margin-top:-15px;
}
.about .preamble h4 {
  margin-top: 0;
 
}
.about .preamble p {
 
}
.about .tab-content {
 padding: 10px 0 10px 0;
  background: #666666 url("../img/stadium_bg.jpg") no-repeat center;
  background-size: cover;
}
.about .tab-content.second-version {
  height: auto;
}
.about .tab-content h4 {
  margin-top: 0;
  color: #fff;
}
.about .tab-content h4.border:after {
  background: #fff;
}
.about .tab-content .result {
  position: relative;
}
.about .tab-content .result .team {
  float: left;

}
.about .tab-content .result .team figure {
  position: relative;
}
.about .tab-content .result .team figure .team-background {
  width: 194px;
  height: 99px;
}
.about .tab-content .result .team figure .team-logo {
  position: absolute;
  top: 42%;
  left: 21%;
  margin-top: -49px;
  width: 110px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
}




.about .tab-content .result .team figure figcaption {
  padding: 16px 10px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #2a3444;
}
.about .tab-content .result .match-details {
  float: left;
  width: 20%;
}
.about .tab-content .result .match-details .match-name {
  padding: 12px 10px;
  height: 30px;
  text-align: center;
  background: #3d4c64;
}
.about .tab-content .result .match-details .match-name h5 {
  margin: 0;
  color: #fff;
  font-size: 13px;
}
.about .tab-content .result .match-details .score {
  padding: 18.5px 1px;
  font-size: 23px;
  text-align: center;
  font-weight: 700;
  color: #999;	
  background: #fff;

}
.about .tab-content .result .match-details .score .color {
  color: #e72f29;
}
.about .tab-content .result .match-details .schedule {
  padding: 10.5px 16px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  background: #3d4c64;
}
.about .tab-content .result .match-details .schedule .team-name {
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.about .tab-content .result .match-details .schedule .time {
  color: rgba(255, 255, 255, 0.5);
}
.about .tab-content .upcoming {
  position: relative;
}
.about .tab-content .upcoming .matches {
  height: 99px;
  overflow: hidden;
}
.about .tab-content .upcoming .match {
  float: left;
  width: 100%;
}
.about .tab-content .upcoming .team {
  padding: 0 24px;
  float: left;
  width: 41%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f8f8f8 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f8f8f8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f8f8f8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f8f8f8 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 50%, #f8f8f8 100%);
}
.about .tab-content .upcoming .team.right img {
  margin-right: 0;
  margin-left: 15px;
}
.about .tab-content .upcoming .team img {
  margin-right: 15px;
  width: 33px;
  height: 33px;
}
.about .tab-content .upcoming .team span {
  padding-top: 2px;
}
.about .tab-content .upcoming .schedule {
  padding: 10.5px 16px;
  float: left;
  width: 18%;
  height: 50px;
  text-align: center;
  font-size: 10px;
  background: #3d4c64;
}
.about .tab-content .upcoming .schedule .team-name {
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.about .tab-content .upcoming .schedule .time {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
.about .tab-content .upcoming .button {
  padding: 16.5px 24px;
  float: left;
  width: 41%;
  background: #2a3444;
  font-family: 'open sans';
  font-weight: normal;
  text-transform: none;
  cursor: pointer;
}
.about .tab-content .upcoming .button span {
  margin: 0 7px;
}
.about .tab-content .upcoming .match-week {
  position: relative;
  float: left;
  width: 18%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  background: #3d4c64;
  cursor: pointer;
}
.about .tab-content .upcoming .match-week i {
  margin-left: 7px;
}
.about .tab-content .upcoming li:nth-child(even) .schedule {
  background: #2a3444;
}
.about .tab-content .training-dropdown {
  margin-bottom: 25px;
}
@media (max-width: 480px) {
  .about .tab-content .training-dropdown {
    float: left !important;
  }
}
.about .tab-content .training-table {
  position: relative;
}
.about .tab-content .training-table header {
  padding: 16px 22.4px;
  text-align: center;
  background: #2a3444;
}
.about .tab-content .training-table header h5 {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #fff;
}
.about .tab-content .training-table header .button {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
}
.about .tab-content .training-table header .button:hover {
  color: #fff;
}
.about .tab-content .training-table header .button:hover i {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.about .tab-content .training-table header .button i {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.about .tab-content .training-table header .button span {
  margin: 0 7px;
}
@media (max-width: 480px) {
  .about .tab-content .training-table header .button {
    margin: 5px 0;
    float: none !important;
  }
}
.about .tab-content .training-table footer {
  padding: 16px 22.4px;
  text-align: center;
  background: #2a3444;
}
.about .tab-content .training-table footer span {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1200px) {
  .about .tab-content {
    height: auto;
  }
  .about .tab-content .result {
    margin-bottom: 30px;
  }
  .about .tab-content .result .team figure .team-background {
    width: 239px;
    height: 220px;
  }
  .about .tab-content .result .match-details .score {
    padding: 55px 8px;
  }
}
@media (max-width: 992px) {
  .about .tab-content .result .team figure .team-background {
    width: 228px;
    height: 200px;
  }
  .about .tab-content .result .match-details .score {
    padding: 45px 8px;
  }
}
@media (max-width: 768px) {
  .about .tab-content .result .team,
  .about .tab-content .result .match-details {
    width: 100%;
  }
  .about .tab-content .result .team figure .team-background {
    width: 100%;
    height: 100%;
  }
  .about .tab-content .upcoming .matches {
    height: 449px;
  }
  .about .tab-content .upcoming .team,
  .about .tab-content .upcoming .schedule {
    width: 100%;
    text-align: center !important;
  }
  .about .tab-content .upcoming .team span {
    margin-right: 15px;
  }
  .about .tab-content .upcoming .team.right span {
    margin-left: 15px;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .about .tab-content .upcoming .button,
  .about .tab-content .upcoming .match-week {
    width: 100%;
    text-align: center !important;
  }
}
/* TABS */
.nav-tabs {
  position: relative;
}
.nav-tabs.horizontal-tab {
  margin: 0 auto;
  text-align: center;
  border-bottom: 5px solid #eeeeee;
}
.nav-tabs.horizontal-tab li {
  padding: 0 1px;
}
.nav-tabs.horizontal-tab li.active a {
  color: #2a3444;
  background: #eee;
}
.nav-tabs.horizontal-tab li.active a:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #e72f29 transparent transparent;
}
.nav-tabs.horizontal-tab li a {
  position: relative;
  padding: 13px 16px;
  display: block;
  width: 170px;
  text-transform: uppercase;
  border-top: 3px solid #e72f29;
  background: #e72f29;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav-tabs.horizontal-tab li {
    padding: 0 30px;
    margin-bottom: 2px;
    display: block;
  }
  .nav-tabs.horizontal-tab li:last-child {
    margin-bottom: 0;
  }
  .nav-tabs.horizontal-tab li a {
    margin: 0 auto;
    width: 100%;
  }
}
.nav-tabs.vertical-tab {
  position: absolute;
  padding: 0;
  top: 0;
  margin: -23px 0 0 23px;
  text-align: left;
  transform-origin: left;
  transform: rotate(90deg);
}
.nav-tabs.vertical-tab li {
  padding: 0 2px;
  float: left;
  transform: rotate(-180deg);
}
.nav-tabs.vertical-tab li:first-child {
  padding-right: 0;
}
.nav-tabs.vertical-tab li.active a {
  color: #2a3444;
  background: #eee;
}
.nav-tabs.vertical-tab li.active a:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #e72f29 transparent transparent;
}
.nav-tabs.vertical-tab li a {
  position: relative;
  padding: 12px 16px;
  display: block;
  height: 46px;
  width: 120px;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid #e72f29;
  background: #e72f29;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 992px) {
  .nav-tabs.vertical-tab li {
    display: inline-block;
    float: none;
    transform: none;
  }
}
@media (max-width: 768px) {
  .nav-tabs.vertical-tab li {
    padding: 0;
    margin-bottom: 2px;
    display: block;
    float: none;
  }
  .nav-tabs.vertical-tab li:last-child {
    margin-bottom: 0;
  }
  .nav-tabs.vertical-tab li a {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .nav-tabs.vertical-tab {
    position: relative;
    margin: 0 auto;
    transform: none;
    text-align: center;
  }
}
.nav-tabs.experience {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.nav-tabs.experience li {
  padding: 0;
  position: relative;
}
.nav-tabs.experience li.active a {
  color: #2a3444;
  background: #eee;
}
.nav-tabs.experience li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav-tabs.experience li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-tabs.experience li a {
  position: relative;
  padding: 2.5px;
  display: block;
  width: 113px;
  color: #fff;
  text-transform: uppercase;
  background: #e72f29;
  text-decoration: none;
}
@media (max-width: 480px) {
  .nav-tabs.experience li {
    padding: 0 15px;
    margin-bottom: 2px;
    display: block;
  }
  .nav-tabs.experience li:last-child {
    margin-bottom: 0;
  }
  .nav-tabs.experience li a {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
  }
}
.nav-tabs.video-tabs {
  padding: 0;
  margin: 0;
  height: 468px;
  overflow: hidden;
}
.nav-tabs.video-tabs li {
  padding: 0;
  margin-bottom: 1px;
}
.nav-tabs.video-tabs li.active a {
  background: #eeeeee;
}
.nav-tabs.video-tabs li.active a:before {
  position: absolute;
  margin-top: -6px;
  top: 50%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #e72f29;
}
.nav-tabs.video-tabs li.active a .fa {
  color: #2a3444;
}
.nav-tabs.video-tabs li.active a .heading-date {
  color: #959595;
}
.nav-tabs.video-tabs li.active a .heading-title {
  color: #2a3444;
}
.nav-tabs.video-tabs li a {
  padding: 33.6px 30.4px;
  display: block;
  width: 360px;
  height: 116px;
  border-left: 3px solid #e72f29;
  background: #e72f29;
  text-decoration: none;
}
.nav-tabs.video-tabs li a .fa {
  color: #fff;
  font-size: 48px;
}
.nav-tabs.video-tabs li a .heading-content {
  position: absolute;
  padding: 33px 48px 33px 33px;
  top: 0;
  left: 40px;
}
.nav-tabs.video-tabs li a .heading-date {
  margin-bottom: 5px;
  display: block;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav-tabs.video-tabs li a .heading-title {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-family: 'open sans';
  text-transform: none;
}
@media (max-width: 1200px) {
  .nav-tabs.video-tabs li a {
    width: 100%;
  }
}
.nav-tabs.teams-filter {
  position: relative;
  padding: 0 77px;
  margin-bottom: 60px;
}
.nav-tabs.teams-filter li {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  border-right: none;
  text-align: center;
}
.nav-tabs.teams-filter li.active1 a,
.nav-tabs.teams-filter li.active2 a {
  background: #e72f29;
}
.nav-tabs.teams-filter li a {
  padding-top: 15px;
  height: 93px;
  display: block;
  color: #fff;
  font-weight: normal;
  background: #3d4c64;
  text-decoration: none;
}
.nav-tabs.teams-filter li a img {
  margin-bottom: 10px;
}
.nav-tabs.teams-filter li a span {
  display: block;
}
.nav-tabs.teams-filter .owl-item:last-child {
  border-right: 1px solid #fff;
}
.nav-tabs.teams-filter .owl-wrapper-outer {
  border-right: 1px solid #fff;
}
.nav-tabs.teams-filter .owl-pagination > div:first-child {
  position: absolute;
  margin-top: -10px;
  top: 50%;
  left: 32px;
}
.nav-tabs.teams-filter .owl-pagination > div:first-child span:before {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: fontAwesome;
  content: "\f104";
}
.nav-tabs.teams-filter .owl-pagination > div:last-child {
  position: absolute;
  margin-top: -10px;
  top: 50%;
  right: 32px;
}
.nav-tabs.teams-filter .owl-pagination > div:last-child span:before {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: fontAwesome;
  content: "\f105";
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
/* TABLE */
.table {
  width: 100%;
}
.table tr {
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  background: #fff;
}
.table tr:first-child {
  padding: 9px 0;
}
.table tr:nth-child(even) {
  background: #eee;
}
.table tr th {
  padding: 0;
  font-weight: 400;
  text-align: left;
}
.table tr th:first-child {
  padding-left: 27px;
}


.player_detail{
    position: relative;
    background: url("../img/pre_footer_bg.jpg") no-repeat 50% 50%;
    margin: 0 0 20px;
}

.player_detail .player_photo{
    position: relative;
    float: left;
    width: 320px;
}

.player_detail .player_photo img{
    /*max-width: 100%;*/
    width: 100%;
    height: auto;
    display: block;
}

.player_detail .player_info{
    padding: 37px 60px;
    overflow: hidden;
}

.player_detail .player_info a{
	color: #fff;
}

.player_detail .player_info a:hover{
	text-decoration: none;
}

body .player_detail .player_info a.addthis_button_compact{
	color: #fff !important;
}

.player_detail .player_info table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 0;
}

.player_detail .player_info table tr:first-child td, .player_detail .player_info table tr:first-child th{
    padding-top: 0;
}

.player_detail .player_info table tr:last-child td, .player_detail .player_info table tr:last-child th{
    padding-bottom: 0;
}

.player_detail .player_info table th{
    text-align: left;
    color:#b2b2b2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 0;
    border: none;
}

.player_detail .player_info table td{
    text-align: right;
    color:#ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 0;
    border: none;
}

.t-shirt{
    display: inline-block;
    margin: 0 5px 0 0;
    width: 17px;
    height: 15px;
    background: url("../img/t-shirt.png") no-repeat 0 0;
}

.player_detail .player_info .addthis_toolbox{
    margin-top: 10px;
}
