/*
 * Made by Nima Izadi (nim.izadi@gmail.com / @Nima_Izadi / github.com/nim1989)
 */
.selected-button, .datepicker_bootstrap .days .day.selected, .datepicker_bootstrap .days .day.selected:hover, .datepicker_bootstrap .months .month.selected, .datepicker_bootstrap .months .month.selected:hover, .datepicker_bootstrap .years .year.selected, .datepicker_bootstrap .years .year.selected:hover {
  background-color: #049cdb;
  color: white; }

.datepicker_bootstrap:after {
	z-index: 999;
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px; }

.datepicker_bootstrap:before {
		z-index: 999;
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  position: absolute;
  top: -7px;
  left: 6px; }

.datepicker_bootstrap {
		z-index: 999;
  position: absolute;
  font-size: 1em;
  color: #000;
  line-height: normal;
  width: 18em;
  padding: 0.3em;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* header
  ********************************************************/
  /* body
  ********************************************************/
  /* days-grid
  ********************************************************/
  /* months-grid
  ********************************************************/
  /* years-grid
  ********************************************************/
  /* years months and days style
  ********************************************************/
  /* global
  ********************************************************/
  /* time
  ********************************************************/ }
  .datepicker_bootstrap .header {
    text-align: center;
    border-bottom: inset 1px rgba(204, 204, 204, 0.55);
    padding-bottom: 0.3em;
    font-weight: bold; }
    .datepicker_bootstrap .header .title {
      text-align: center;
      margin: auto;
      display: inline-block; }
      .datepicker_bootstrap .header .title .titleText {
        margin: auto;
        padding: 0.5em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
        .datepicker_bootstrap .header .title .titleText:hover {
          background-color: #eeeeee; }
    .datepicker_bootstrap .header .previous, .datepicker_bootstrap .header .next {
      position: absolute;
      cursor: pointer;
      overflow: hidden;
      top: 1em;
      display: block;
      border-top: 6px solid white;
      border-bottom: 6px solid white;
      height: 0px; }
    .datepicker_bootstrap .header .previous {
      left: 0.4em;
      border-right: 7px solid black; }
      .datepicker_bootstrap .header .previous:hover {
        border-right-color: #eeeeee; }
    .datepicker_bootstrap .header .next {
      right: 0.4em;
      border-left: 7px solid black; }
      .datepicker_bootstrap .header .next:hover {
        border-left-color: #999999; }
    .datepicker_bootstrap .header .closeButton {
      display: none; }
  .datepicker_bootstrap .body {
    position: relative;
    top: 0;
    left: 0;
    height: 15.5em;
    overflow: hidden;
    margin-top: 0.2em; }
    .datepicker_bootstrap .body .slider > div {
      height: 15.5em; }
      .datepicker_bootstrap .body .slider > div > div, .datepicker_bootstrap .body .slider > div table {
        height: 100%;
        width: 100%;
        text-align: center; }
      .datepicker_bootstrap .body .slider > div thead th {
        height: 2em; }
      .datepicker_bootstrap .body .slider > div thead th:hover {
        background-color: transparent; }
  .datepicker_bootstrap .days td {
    width: 14.28571%; }
  .datepicker_bootstrap .days .otherMonth {
    color: #999999; }
  .datepicker_bootstrap .months td {
    width: 33.33333%; }
  .datepicker_bootstrap .years td {
    width: 25%; }
  .datepicker_bootstrap .days .day, .datepicker_bootstrap .months .month, .datepicker_bootstrap .years .year {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .datepicker_bootstrap .days .day:hover, .datepicker_bootstrap .months .month:hover, .datepicker_bootstrap .years .year:hover {
      background-color: #eeeeee; }
  .datepicker_bootstrap .unavailable {
    color: #eeeeee !important;
    cursor: default !important;
    text-decoration: line-through; }
  .datepicker_bootstrap table {
    border-spacing: 0; }
  .datepicker_bootstrap th,
  .datepicker_bootstrap td {
    padding: 0; }
  .datepicker_bootstrap .time {
    position: relative;
    width: 100%;
    padding-top: 3em;
    text-align: center; }
    .datepicker_bootstrap .time > div {
      display: inline-block; }
  .datepicker_bootstrap .time .hour,
  .datepicker_bootstrap .time .separator,
  .datepicker_bootstrap .time .minutes {
    width: 3em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.2em; }
  .datepicker_bootstrap .time .separator {
    width: 1em; }
  .datepicker_bootstrap .time .ok:active {
    -webkit-box-shadow: inset 0 1px 5px #999999;
    -moz-box-shadow: inset 0 1px 5px #999999;
    box-shadow: inset 0 1px 5px #999999; }
  .datepicker_bootstrap .time .ok:hover {
    background-color: #eeeeee; }
  .datepicker_bootstrap .time .ok {
    margin: 1em auto;
    display: block;
    font-size: 1.5em;
    width: 5em;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: solid 1px #CCC;
    outline: none;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
