#u69
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
}

#u71
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/logo.png") no-repeat center top;
	background-size: cover !important;
}

#u109,#u126,#u132,#u114
{
	position: absolute;
}

#u131-5,#u129-5,#u135-5
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u131,#u129,#u135
{
	color: #FF0000;
}

#u223,#u226,#u229
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: fixed;
}

#u70
{
	-pie-box-shadow: 0px 5px 6px #E5E5E5;
	-moz-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	position: fixed;
}

#pamphletu98,#menuu136
{
	position: fixed;
}

#u181
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u183-4
{
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u188
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u197
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u202
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u209
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u4499
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u216
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u181.MuseMenuActive,#u188.MuseMenuActive,#u197.MuseMenuActive,#u202.MuseMenuActive,#u209.MuseMenuActive,#u4499.MuseMenuActive,#u216.MuseMenuActive
{
	border-color: #000000;
}

#u191-4,#u199-4,#u205-4,#u212-4,#u4501-4,#u219-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u234
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u289-4
{
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u290,#u293,#u296,#u299
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
}

#u291,#u294,#u297,#u300
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u239-4,#u247-4
{
	font-size: 12px;
	line-height: 17px;
	color: #FF0000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u318-4,#u236-4,#u316-4,#u272-4
{
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u319,#u237,#u317,#u273
{
	border-style: solid;
	border-color: #FF0000;
	background-color: transparent;
	position: relative;
	border-width: 2px 0px 0px;
}

#u115,#u127,#u133,#widgetu254
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu254:hover
{
	background-color: transparent;
}

#widgetu254.focus-st
{
	background-color: transparent;
}

#u258-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#widgetu254:hover #u258-4
{
	border-style: none;
	border-color: transparent;
	background-color: #666666;
}

#widgetu254.focus-st #u258-4
{
	border-style: none;
	border-color: transparent;
	background-color: #666666;
}

#widgetu254:hover #u258-4 *
{
	color: #FFFFFF;
}

#widgetu254.focus-st #u258-4 *
{
	color: #FFFFFF;
}

#widgetu254_input,#widgetu254_prompt
{
	color: #999999;
	font-family: open-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#widgetu249
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu254.fld-err-st,#widgetu249.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u251-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu249:hover #u251-4
{
	border-style: none;
	border-color: transparent;
	background-color: #666666;
}

#widgetu249.focus-st #u251-4
{
	border-style: none;
	border-color: transparent;
	background-color: #666666;
}

#widgetu254.fld-err-st #u258-4,#widgetu249.fld-err-st #u251-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu249:hover #u251-4 *
{
	color: #FFFFFF;
}

#widgetu249.focus-st #u251-4 *
{
	color: #FFFFFF;
}

#widgetu254.fld-err-st #u258-4 *,#widgetu249.fld-err-st #u251-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu249_input,#widgetu249_prompt
{
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#widgetu254.non-empty-st #widgetu254_prompt,#widgetu249.non-empty-st #widgetu249_prompt
{
	visibility: hidden;
}

#u270-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu248.frm-sub-st #u270-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u259-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu248.frm-subm-err-st #u259-4 p
{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u260-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu248.frm-sub-st #u270-4,#widgetu248.frm-subm-err-st #u259-4,#widgetu248.frm-subm-ok-st #u260-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu248.frm-subm-ok-st #u260-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u271-17
{
	background: url("../images/u271-17.png") no-repeat 0px 0px;
	position: relative;
}

#u271-17:hover
{
	background: url("../images/u271-17-r.png") no-repeat 0px 0px;
}

#u271-17:active
{
	background: url("../images/u271-17-m.png") no-repeat 0px 0px;
}

#widgetu248.frm-sub-st #u271-17
{
	background: url("../images/u271-17-fs.png") no-repeat 0px 0px;
}

#u241,#u245,#u5602,#u5628,#u5607,#u5631,#u5611,#u5616,#u5620,#u5623,#u5636,#u5640
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
}

#u315
{
	border-style: none;
	border-color: transparent;
	background-color: #202020;
	position: relative;
}

#u108,#u180,#u187,#u194,#u201,#u208,#u4498,#u215,#u234_align_to_page,#u238,#u243,#u5605,#u5626,#u5606,#u5630,#u5610,#u5614,#u5618,#u5622,#widgetu248,#u5634,#u5638,#u315_align_to_page
{
	position: relative;
}

#u240-4,#u244-4,#u5604-4,#u5627-4,#u5609-4,#u5633-4,#u5613-4,#u5615-4,#u5619-4,#u5625-4,#u5635-4,#u5639-4,#u5642-4
{
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

