
/* TABS */
.nav-tabs {
	position: relative;
}
.nav-tabs.horizontal-tab {
	margin: 0 auto;
	text-align: center;
	border-bottom: 5px solid #eeeeee;
}
.nav-tabs.horizontal-tab li {
	padding: 0 1px;
}
.nav-tabs.horizontal-tab li.active a {
	color: #2a3444;
	background: #eee;
}
.nav-tabs.horizontal-tab li.active a:before {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -6px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #e72f29 transparent transparent;
}
.nav-tabs.horizontal-tab li a {
	position: relative;
	padding: 13px 16px;
	display: block;
	width: 170px;
	text-transform: uppercase;
	border-top: 3px solid #e72f29;
	background: #e72f29;
	color: #fff;
	text-decoration: none;
}
@media (max-width: 768px) {
	.nav-tabs.horizontal-tab li {
		padding: 0 30px;
		margin-bottom: 2px;
		display: block;
	}
	.nav-tabs.horizontal-tab li:last-child {
		margin-bottom: 0;
	}
	.nav-tabs.horizontal-tab li a {
		margin: 0 auto;
		width: 100%;
	}
}
.nav-tabs.vertical-tab {
	position: absolute;
	padding: 0;
	top: 0;
	margin: -23px 0 0 23px;
	text-align: left;
	transform-origin: left;
	transform: rotate(90deg);
}
.nav-tabs.vertical-tab li {
	padding: 0 2px;
	float: left;
	transform: rotate(-180deg);
}
.nav-tabs.vertical-tab li:first-child {
	padding-right: 0;
}
.nav-tabs.vertical-tab li.active a {
	color: #2a3444;
	background: #eee;
}
.nav-tabs.vertical-tab li.active a:before {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -6px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #e72f29 transparent transparent;
}
.nav-tabs.vertical-tab li a {
	position: relative;
	padding: 12px 16px;
	display: block;
	height: 46px;
	width: 120px;
	text-transform: uppercase;
	text-align: center;
	border-top: 3px solid #e72f29;
	background: #e72f29;
	color: #fff;
	text-decoration: none;
}
@media (max-width: 992px) {
	.nav-tabs.vertical-tab li {
		display: inline-block;
		float: none;
		transform: none;
	}
}
@media (max-width: 768px) {
	.nav-tabs.vertical-tab li {
		padding: 0;
		margin-bottom: 2px;
		display: block;
		float: none;
	}
	.nav-tabs.vertical-tab li:last-child {
		margin-bottom: 0;
	}
	.nav-tabs.vertical-tab li a {
		margin: 0 auto;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.nav-tabs.vertical-tab {
		position: relative;
		margin: 0 auto;
		transform: none;
		text-align: center;
	}
}
.nav-tabs.experience {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}
.nav-tabs.experience li {
	padding: 0;
	position: relative;
}
.nav-tabs.experience li.active a {
	color: #2a3444;
	background: #eee;
}
.nav-tabs.experience li:first-child a {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.nav-tabs.experience li:last-child a {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.nav-tabs.experience li a {
	position: relative;
	padding: 2.5px;
	display: block;
	width: 113px;
	color: #fff;
	text-transform: uppercase;
	background: #e72f29;
	text-decoration: none;
}
@media (max-width: 480px) {
	.nav-tabs.experience li {
		padding: 0 15px;
		margin-bottom: 2px;
		display: block;
	}
	.nav-tabs.experience li:last-child {
		margin-bottom: 0;
	}
	.nav-tabs.experience li a {
		margin: 0 auto;
		width: 100%;
		border-radius: 10px;
	}
}
.nav-tabs.video-tabs {
	padding: 0;
	margin: 0;
	height: 468px;
	overflow: hidden;
}
.nav-tabs.video-tabs li {
	padding: 0;
	margin-bottom: 1px;
}
.nav-tabs.video-tabs li.active a {
	background: #eeeeee;
}
.nav-tabs.video-tabs li.active a:before {
	position: absolute;
	margin-top: -6px;
	top: 50%;
	left: 0;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent #e72f29;
}
.nav-tabs.video-tabs li.active a .fa {
	color: #2a3444;
}
.nav-tabs.video-tabs li.active a .heading-date {
	color: #959595;
}
.nav-tabs.video-tabs li.active a .heading-title {
	color: #2a3444;
}
.nav-tabs.video-tabs li a {
	padding: 33.6px 30.4px;
	display: block;
	width: 360px;
	height: 116px;
	border-left: 3px solid #e72f29;
	background: #e72f29;
	text-decoration: none;
}
.nav-tabs.video-tabs li a .fa {
	color: #fff;
	font-size: 48px;
}
.nav-tabs.video-tabs li a .heading-content {
	position: absolute;
	padding: 33px 48px 33px 33px;
	top: 0;
	left: 40px;
}
.nav-tabs.video-tabs li a .heading-date {
	margin-bottom: 5px;
	display: block;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
.nav-tabs.video-tabs li a .heading-title {
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-family: 'open sans';
	text-transform: none;
}
@media (max-width: 1200px) {
	.nav-tabs.video-tabs li a {
		width: 100%;
	}
}
.nav-tabs.teams-filter {
	position: relative;
	padding: 0 77px;
	margin-bottom: 60px;
}
.nav-tabs.teams-filter li {
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid #fff;
	border-right: none;
	text-align: center;
}
.nav-tabs.teams-filter li.active1 a, .nav-tabs.teams-filter li.active2 a {
	background: #e72f29;
}
.nav-tabs.teams-filter li a {
	padding-top: 15px;
	height: 93px;
	display: block;
	color: #fff;
	font-weight: normal;
	background: #3d4c64;
	text-decoration: none;
}
.nav-tabs.teams-filter li a img {
	margin-bottom: 10px;
}
.nav-tabs.teams-filter li a span {
	display: block;
}
.nav-tabs.teams-filter .owl-item:last-child {
	border-right: 1px solid #fff;
}
.nav-tabs.teams-filter .owl-wrapper-outer {
	border-right: 1px solid #fff;
}
.nav-tabs.teams-filter .owl-pagination > div:first-child {
	position: absolute;
	margin-top: -10px;
	top: 50%;
	left: 32px;
}
.nav-tabs.teams-filter .owl-pagination > div:first-child span:before {
	padding: 10px;
	color: #fff;
	font-size: 16px;
	font-family: fontAwesome;
	content: "\f104";
}
.nav-tabs.teams-filter .owl-pagination > div:last-child {
	position: absolute;
	margin-top: -10px;
	top: 50%;
	right: 32px;
}
.nav-tabs.teams-filter .owl-pagination > div:last-child span:before {
	padding: 10px;
	color: #fff;
	font-size: 16px;
	font-family: fontAwesome;
	content: "\f105";
}
.tab-pane {
	display: none;
}
.tab-pane.active {
	display: block;
}


/* TABLE */
.table {
	width: 100%;
}
.table tr {
	padding: 5px 0;
	display: inline-block;
	width: 100%;
	background: #fff;
}
.table tr:first-child {
	padding: 9px 0;
}
.table tr:nth-child(even) {
	background: #eee;
}
.table tr th {
	padding: 0;
	font-weight: 400;
	text-align: left;
}
.table tr th:first-child {
	padding-left: 27px;
}
/* TEAMS */
.teams {
	position: relative;
	padding: 55px 0;
}
.teams .teams-frame {
	position: relative;
	overflow: hidden;
}
.teams .teams-frame .player-profile {
	position: relative;
	margin-left: 46px;
}
.teams .teams-frame .player-profile .big-thumbnail {
	width: 530px;
	height: 400px;
	float: left;
}
.teams .teams-frame .player-profile .big-thumbnail img {
	width: 100%;
	height: 100%;
}
.teams .teams-frame .player-profile .player-description {
	padding: 65px 96px 15px 48px;
	width: 529px;
	height: 400px;
	float: left;
}
.teams .teams-frame .player-profile .player-description .logo-background {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -112px;
	margin-left: -120px;
	z-index: -1;
}
.teams .teams-frame .player-profile .player-description h3 {
	padding: 0;
	margin: 0 0 30px 0;
	text-transform: none;
}
.teams .teams-frame .player-profile .player-description .player-details {
	width: 50%;
	float: left;
}
.teams .teams-frame .player-profile .player-description .player-details.pull-left {
	padding-right: 15px;
}
.teams .teams-frame .player-profile .player-description .player-details.pull-right {
	padding-left: 15px;
}
.teams .teams-frame .player-profile .player-description .player-details li {
	padding: 8px 0;
	border-bottom: 1px dashed #c8c8c8;
}
.teams .teams-frame .player-profile .player-description .player-details li:last-child {
	border-bottom: none;
}
.teams .teams-frame .player-profile .player-description .player-details li h5 {
	position: absolute;
	margin: 3px 0 0 0;
	float: left;
	color: #959595;
}
.teams .teams-frame .player-profile .player-description .player-details li span {
	padding-left: 80px;
}
@media (max-width: 480px) {
	.teams .teams-frame .player-profile .player-description .player-details {
		width: 100%;
	}
	.teams .teams-frame .player-profile .player-description .player-details.pull-right {
		padding-left: 0;
	}
}
.teams .teams-frame .player-profile .player-description .read_more {
	margin-top: 35px;
}
@media (max-width: 480px) {
	.teams .teams-frame .player-profile .player-description .read_more {
		margin-bottom: 60px;
	}
}
@media (max-width: 1200px) {
	.teams .teams-frame .player-profile .big-thumbnail {
		width: 440px;
		height: 363px;
	}
	.teams .teams-frame .player-profile .player-description {
		padding: 45px 25px 15px 30px;
		width: 414px;
		height: 363px;
	}
}
@media (max-width: 992px) {
	.teams .teams-frame .player-profile {
		margin-left: 0;
		margin-bottom: 30px;
	}
	.teams .teams-frame .player-profile .big-thumbnail {
		margin-top: 45px;
		margin-left: 30px;
		width: 200px;
		height: 160px;
	}
	.teams .teams-frame .player-profile .player-description {
		width: 450px;
	}
}
@media (max-width: 768px) {
	.teams .teams-frame .player-profile .big-thumbnail {
		margin: 30px auto;
		float: none;
		text-align: center;
	}
	.teams .teams-frame .player-profile .player-description {
		padding-top: 0;
		width: 100%;
		float: none;
		height: auto;
	}
}
.teams .teams-frame .owl-carousel .owl-wrapper-outer {
	position: relative;
	border: 5px solid #eee;
}
.teams .team-players {
	margin-left: 46px;
	float: left;
	border: 3px solid #eeeeee;
}
.teams .team-players .player-profile {
	position: relative;
	margin-left: 0;
	margin-bottom: 0;
	float: left;
	width: 176.2px;
	height: 185px;
	border: 1px solid #fff;
}
.teams .team-players .player-profile .thumbnail {
	width: 100%;
	height: 100%;
}
.teams .team-players .player-profile .number {
	position: absolute;
	width: 28px;
	height: 28px;
	display: inline-block;
	left: 7px;
	bottom: 38px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	background: #e72f29;
}
.teams .team-players .player-profile .name {
	position: absolute;
	padding: 6px 10px;
	left: 7px;
	bottom: 7px;
	color: #fff;
	background: #2a3444;
}
@media (max-width: 1200px) {
	.teams .team-players .player-profile {
		width: 171.3px;
		height: 178px;
	}
}
@media (max-width: 992px) {
	.teams .team-players .player-profile {
		width: 212.3px;
		height: 224px;
	}
}
@media (max-width: 768px) {
	.teams .team-players .player-profile {
		width: 50%;
		height: auto;
	}
}
@media (max-width: 480px) {
	.teams .team-players .player-profile {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 768px) {
	.teams .team-players {
		margin-left: 0;
	}
}
.teams .owl-controls {
	position: absolute;
	margin: 0;
	right: 30px;
	bottom: 30px;
}
.teams .owl-controls .owl-buttons > div {
	margin-left: 2px;
	float: left;
	display: inline-block;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	background: #e72f29;
}
.teams .owl-controls .owl-buttons > div.owl-prev:before {
	content: "\f104";
	font-family: FontAwesome;
	color: #fff;
	font-size: 24px;
}
.teams .owl-controls .owl-buttons > div.owl-next:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #fff;
	font-size: 24px;
}
.teams .owl-controls .owl-buttons > div:hover {
	background: #de1f19;
}
@media (max-width: 480px) {
	.teams .owl-controls {
		left: 33px;
	}
}


