
#u3853.TabbedPanelsTabSelected
{
	background-color: #FF0000;
	width: 584px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3855-4
{
	z-index: 168;
	width: 584px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u3853:hover #u3855-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3853:hover #u3855-4 p
{
	color: #000000;
	visibility: inherit;
}

#u4682
{
	z-index: 172;
	width: 585px;
	min-height: 20px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F4F4F4;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#u4682:hover
{
	background-color: #FFFFFF;
	width: 585px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4682.TabbedPanelsTabSelected
{
	background-color: #FF0000;
	width: 585px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4685-4
{
	z-index: 173;
	width: 585px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u4682:hover #u4685-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}



#u3853.TabbedPanelsTabSelected #u3855-4,#u4682.TabbedPanelsTabSelected #u4685-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4682:hover #u4685-4 p
{
	color: #000000;
	visibility: inherit;
}


#u3857
{
	z-index: 177;
	
	position: relative;
}

#u3950
{
	z-index: 178;
	
	border-style: solid;
	border-color: #F4F4F4;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
	
	background-size: cover !important;
}

#pamphletu3951
{
	z-index: 999;
	width: 0.01px;
	
	height: auto;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}
#u3974
{
	z-index: 181;
	width: 752px;
	height: 550px;
	
	border-style: none;
	border-color: #F4F4F4;
	background: #F4F4F4 url("../../../team/img/rel.jpg") no-repeat center center;	
	background-size: cover !important;
	filter: brightness(0.4);
	-webkit-filter: brightness(0.4);
	-moz-filter: brightness(0.4);
	-o-filter: brightness(0.4);
	-ms-filter: brightness(0.4);
}


#u3975
{
	z-index: 182;
	width: 391px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	
	background-size: cover !important;
}

#u3976-29
{
	z-index: 183;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}


#u3978
{
	z-index: 218;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3979
{
	z-index: 219;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("http://www.chonburifootballclub.com/media/k2/items/cache/73608782f50eb6af17bb69bdcd662692_L.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3981-29
{
	z-index: 220;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3980-6
{
	z-index: 249;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4002
{
	z-index: 255;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4004
{
	z-index: 256;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/3-u4004-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4003-29
{
	z-index: 257;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4005-6
{
	z-index: 286;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3962
{
	z-index: 292;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3964
{
	z-index: 293;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4-u3964-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3963-29
{
	z-index: 294;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3965-6
{
	z-index: 323;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3998
{
	z-index: 329;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4001
{
	z-index: 330;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/5-u4001-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4000-29
{
	z-index: 331;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3999-6
{
	z-index: 360;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3966
{
	z-index: 366;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3969
{
	z-index: 367;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1-u3979-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3968-29
{
	z-index: 368;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3967-6
{
	z-index: 397;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3990
{
	z-index: 403;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3991
{
	z-index: 404;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/2-u3975-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3993-29
{
	z-index: 405;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3992-6
{
	z-index: 434;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3986
{
	z-index: 440;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3988
{
	z-index: 441;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/3-u4004-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3989-29
{
	z-index: 442;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3987-6
{
	z-index: 471;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3970
{
	z-index: 477;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3973
{
	z-index: 478;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4-u3964-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3972-29
{
	z-index: 479;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3971-6
{
	z-index: 508;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3982
{
	z-index: 514;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3984
{
	z-index: 515;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/5-u4001-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3983-29
{
	z-index: 516;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3985-6
{
	z-index: 545;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3994
{
	z-index: 551;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u3995
{
	z-index: 552;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1-u3979-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u3997-29
{
	z-index: 553;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3996-6
{
	z-index: 582;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4008
{
	z-index: 588;
	width: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u4033
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 9px;
	top: -12px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4033.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4034-4
{
	z-index: 594;
	width: 38px;
	min-height: 20px;
	background: #FBB03B url("../images/u12353-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FCEE21),color-stop(100%, #FBB03B));
	background: -webkit-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -moz-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -ms-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -o-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: linear-gradient(to bottom,#FCEE21 ,#FBB03B 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4035-4
{
	z-index: 590;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 70px;
}

#u4018
{
	z-index:999;
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 33px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4018.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4019-4
{
	z-index: 603;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u4020-4
{
	z-index: 599;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4039
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 78px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4039.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4040-4
{
	z-index: 612;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4041-4
{
	z-index: 608;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4024
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 123px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4024.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4026-4
{
	z-index: 621;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4025-4
{
	z-index: 617;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4027
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 168px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4027.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4029-4
{
	z-index: 630;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4028-4
{
	z-index: 626;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4036
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 213px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4036.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4038-4
{
	z-index: 639;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4037-4
{
	z-index: 635;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4009
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 258px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4009.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4011-4
{
	z-index: 648;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4010-4
{
	z-index: 644;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4030
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 303px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4030.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4032-4
{
	z-index: 657;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4031-4
{
	z-index: 653;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4021
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 348px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4021.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4022-4
{
	z-index: 666;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4023-4
{
	z-index: 662;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4012
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 393px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4012.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4014-4
{
	z-index: 675;
	width: 38px;
	min-height: 20px;
	background: #C1272D url("../images/u11489-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -moz-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -ms-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -o-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: linear-gradient(to bottom,#FF0000 ,#C1272D 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4013-4
{
	z-index: 671;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4015
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 438px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4015.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4017-4
{
	z-index: 684;
	width: 38px;
	min-height: 20px;
	background: #C1272D url("../images/u11489-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -moz-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -ms-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -o-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: linear-gradient(to bottom,#FF0000 ,#C1272D 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4016-4
{
	z-index: 680;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}



#u3961,#u4779
{
	position: absolute;
	width: 740px;
	left: 390px;
}

#u4779popup
{
	z-index: 690;
}

#u4804
{
	z-index: 691;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4805
{
	z-index: 692;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/2-u3975-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4807-29
{
	z-index: 693;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4806-6
{
	z-index: 722;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4780
{
	z-index: 728;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4781
{
	z-index: 729;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/3-u4004-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4782-29
{
	z-index: 730;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4783-6
{
	z-index: 759;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4784
{
	z-index: 765;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4786
{
	z-index: 766;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4-u3964-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4787-29
{
	z-index: 767;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4785-6
{
	z-index: 796;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}


#u4811
{
	z-index: 877;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/2-u3975-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4810-29
{
	z-index: 878;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4809-6
{
	z-index: 907;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4812
{
	z-index: 913;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4814
{
	z-index: 914;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/3-u4004-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4815-29
{
	z-index: 915;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4813-6
{
	z-index: 944;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4820
{
	z-index: 950;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4823
{
	z-index: 951;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/4-u3964-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4821-29
{
	z-index: 952;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4822-6
{
	z-index: 981;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4800
{
	z-index: 987;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4801
{
	z-index: 988;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/5-u4001-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4803-29
{
	z-index: 989;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4802-6
{
	z-index: 1018;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4816
{
	z-index: 1024;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4818
{
	z-index: 1025;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1-u3979-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u4817-29
{
	z-index: 1026;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4819-6
{
	z-index: 1055;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4796
{
	z-index: 1061;
	width: 780px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4798
{
	z-index: 1062;
	width: 391px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/2-u3975-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#pu3976-29,#pu3981-29,#pu4003-29,#pu3963-29,#pu4000-29,#pu3968-29,#pu3993-29,#pu3989-29,#pu3972-29,#pu3983-29,#pu3997-29,#pu4807-29,#pu4782-29,#pu4787-29,#pu4791-29,#pu4794-29,#pu4810-29,#pu4815-29,#pu4821-29,#pu4803-29,#pu4817-29,#pu4799-29
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 445px;
}

#u4799-29
{
	z-index: 1063;
	width: 300px;
	min-height: 263px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4797-6
{
	z-index: 1092;
	width: 300px;
	min-height: 151px;
	text-align: left;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u3977-2,#u3980-2,#u4005-2,#u3965-2,#u3999-2,#u3967-2,#u3992-2,#u3987-2,#u3971-2,#u3985-2,#u3996-2,#u4806-2,#u4783-2,#u4785-2,#u4790-2,#u4795-2,#u4809-2,#u4813-2,#u4822-2,#u4802-2,#u4819-2,#u4797-2
{
	line-height: 28px;
	font-weight: 700;
}

#u3976,#u3976-4,#u3976-7,#u3976-10,#u3976-13,#u3976-16,#u3976-19,#u3976-22,#u3976-25,#u3977,#u3981,#u3981-4,#u3981-7,#u3981-10,#u3981-13,#u3981-16,#u3981-19,#u3981-22,#u3981-25,#u3980,#u4003,#u4003-4,#u4003-7,#u4003-10,#u4003-13,#u4003-16,#u4003-19,#u4003-22,#u4003-25,#u4005,#u3963,#u3963-4,#u3963-7,#u3963-10,#u3963-13,#u3963-16,#u3963-19,#u3963-22,#u3963-25,#u3965,#u4000,#u4000-4,#u4000-7,#u4000-10,#u4000-13,#u4000-16,#u4000-19,#u4000-22,#u4000-25,#u3999,#u3968,#u3968-4,#u3968-7,#u3968-10,#u3968-13,#u3968-16,#u3968-19,#u3968-22,#u3968-25,#u3967,#u3993,#u3993-4,#u3993-7,#u3993-10,#u3993-13,#u3993-16,#u3993-19,#u3993-22,#u3993-25,#u3992,#u3989,#u3989-4,#u3989-7,#u3989-10,#u3989-13,#u3989-16,#u3989-19,#u3989-22,#u3989-25,#u3987,#u3972,#u3972-4,#u3972-7,#u3972-10,#u3972-13,#u3972-16,#u3972-19,#u3972-22,#u3972-25,#u3971,#u3983,#u3983-4,#u3983-7,#u3983-10,#u3983-13,#u3983-16,#u3983-19,#u3983-22,#u3983-25,#u3985,#u3997,#u3997-4,#u3997-7,#u3997-10,#u3997-13,#u3997-16,#u3997-19,#u3997-22,#u3997-25,#u3996,#u4807,#u4807-4,#u4807-7,#u4807-10,#u4807-13,#u4807-16,#u4807-19,#u4807-22,#u4807-25,#u4806,#u4782,#u4782-4,#u4782-7,#u4782-10,#u4782-13,#u4782-16,#u4782-19,#u4782-22,#u4782-25,#u4783,#u4787,#u4787-4,#u4787-7,#u4787-10,#u4787-13,#u4787-16,#u4787-19,#u4787-22,#u4787-25,#u4785,#u4791,#u4791-4,#u4791-7,#u4791-10,#u4791-13,#u4791-16,#u4791-19,#u4791-22,#u4791-25,#u4790,#u4794,#u4794-4,#u4794-7,#u4794-10,#u4794-13,#u4794-16,#u4794-19,#u4794-22,#u4794-25,#u4795,#u4810,#u4810-4,#u4810-7,#u4810-10,#u4810-13,#u4810-16,#u4810-19,#u4810-22,#u4810-25,#u4809,#u4815,#u4815-4,#u4815-7,#u4815-10,#u4815-13,#u4815-16,#u4815-19,#u4815-22,#u4815-25,#u4813,#u4821,#u4821-4,#u4821-7,#u4821-10,#u4821-13,#u4821-16,#u4821-19,#u4821-22,#u4821-25,#u4822,#u4803,#u4803-4,#u4803-7,#u4803-10,#u4803-13,#u4803-16,#u4803-19,#u4803-22,#u4803-25,#u4802,#u4817,#u4817-4,#u4817-7,#u4817-10,#u4817-13,#u4817-16,#u4817-19,#u4817-22,#u4817-25,#u4819,#u4799,#u4799-4,#u4799-7,#u4799-10,#u4799-13,#u4799-16,#u4799-19,#u4799-22,#u4799-25,#u4797
{
	color: #FF0000;
}

#u3977-4,#u3980-4,#u4005-4,#u3965-4,#u3999-4,#u3967-4,#u3992-4,#u3987-4,#u3971-4,#u3985-4,#u3996-4,#u4806-4,#u4783-4,#u4785-4,#u4790-4,#u4795-4,#u4809-4,#u4813-4,#u4822-4,#u4802-4,#u4819-4,#u4797-4
{
	line-height: 20px;
	font-weight: 400;
}

#u4835
{
	z-index: 1098;
	width: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u4857
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 9px;
	top: -12px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4857.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4858-4
{
	z-index: 1104;
	width: 38px;
	min-height: 20px;
	background: #FBB03B url("../images/u12353-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FCEE21),color-stop(100%, #FBB03B));
	background: -webkit-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -moz-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -ms-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: -o-linear-gradient(top,#FCEE21 ,#FBB03B 100%);
	background: linear-gradient(to bottom,#FCEE21 ,#FBB03B 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4859-4
{
	z-index: 1100;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 70px;
}

#u4033.PamphletThumbSelected #u4035-4,#u4857.PamphletThumbSelected #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 13px -10000px 0px 0px;
}

#u4839
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 33px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4839.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4841-4
{
	z-index: 1113;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u4018.PamphletThumbSelected #u4019-4,#u4839.PamphletThumbSelected #u4841-4
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u4840-4
{
	z-index: 1109;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4860
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 78px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4860.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4861-4
{
	z-index: 1122;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4862-4
{
	z-index: 1118;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4866
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 123px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4866.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4868-4
{
	z-index: 1131;
	width: 38px;
	min-height: 20px;
	background: #0071BC url("../images/u12225-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0071BC 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0071BC 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4867-4
{
	z-index: 1127;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4842
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 168px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4842.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4843-4
{
	z-index: 1140;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4027.PamphletThumbSelected #u4029-4,#u4842.PamphletThumbSelected #u4843-4
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u4844-4
{
	z-index: 1136;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4854
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 213px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4854.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4855-4
{
	z-index: 1149;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4856-4
{
	z-index: 1145;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4845
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 258px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4845.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4847-4
{
	z-index: 1158;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4846-4
{
	z-index: 1154;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4863
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 303px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4863.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4864-4
{
	z-index: 1167;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4865-4
{
	z-index: 1163;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4848
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 348px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4848.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4850-4
{
	z-index: 1176;
	width: 38px;
	min-height: 20px;
	background: #39B54A url("../images/u12250-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#8CC63F),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -moz-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -ms-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: -o-linear-gradient(top,#8CC63F ,#39B54A 100%);
	background: linear-gradient(to bottom,#8CC63F ,#39B54A 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4849-4
{
	z-index: 1172;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4836
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 393px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4836.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4039.PamphletThumbSelected #u4040-4,#u4024.PamphletThumbSelected #u4026-4,#u4030.PamphletThumbSelected #u4032-4,#u4012.PamphletThumbSelected #u4014-4,#u4860.PamphletThumbSelected #u4861-4,#u4866.PamphletThumbSelected #u4868-4,#u4863.PamphletThumbSelected #u4864-4,#u4836.PamphletThumbSelected #u4837-4
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u4838-4
{
	z-index: 1181;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4851
{
	position: absolute;
	width: 391px;
	border-style: solid;
	border-color: #E0E0E0;
	background-color: #F9F9F9;
	background-color: rgba(244, 244, 244, 0.5);
	padding-bottom: 11px;
	top: 438px;
	left: -15px;
	border-width: 1px 0px;
	-pie-background: rgba(244, 244, 244, 0.5);
}

#u4851.PamphletThumbSelected
{
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	width: 391px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u4852-4
{
	z-index: 1194;
	width: 38px;
	min-height: 20px;
	background: #C1272D url("../images/u11489-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(100%, #C1272D));
	background: -webkit-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -moz-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -ms-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: -o-linear-gradient(top,#FF0000 ,#C1272D 100%);
	background: linear-gradient(to bottom,#FF0000 ,#C1272D 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 15px;
}

#u4033.PamphletThumbSelected #u4034-4,#u4036.PamphletThumbSelected #u4038-4,#u4009.PamphletThumbSelected #u4011-4,#u4021.PamphletThumbSelected #u4022-4,#u4015.PamphletThumbSelected #u4017-4,#u4857.PamphletThumbSelected #u4858-4,#u4854.PamphletThumbSelected #u4855-4,#u4845.PamphletThumbSelected #u4847-4,#u4848.PamphletThumbSelected #u4850-4,#u4851.PamphletThumbSelected #u4852-4
{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u4033.PamphletThumbSelected #u4034-4 p,#u4018.PamphletThumbSelected #u4019-4 p,#u4039.PamphletThumbSelected #u4040-4 p,#u4024.PamphletThumbSelected #u4026-4 p,#u4027.PamphletThumbSelected #u4029-4 p,#u4036.PamphletThumbSelected #u4038-4 p,#u4009.PamphletThumbSelected #u4011-4 p,#u4030.PamphletThumbSelected #u4032-4 p,#u4021.PamphletThumbSelected #u4022-4 p,#u4012.PamphletThumbSelected #u4014-4 p,#u4015.PamphletThumbSelected #u4017-4 p,#u4857.PamphletThumbSelected #u4858-4 p,#u4839.PamphletThumbSelected #u4841-4 p,#u4860.PamphletThumbSelected #u4861-4 p,#u4866.PamphletThumbSelected #u4868-4 p,#u4842.PamphletThumbSelected #u4843-4 p,#u4854.PamphletThumbSelected #u4855-4 p,#u4845.PamphletThumbSelected #u4847-4 p,#u4863.PamphletThumbSelected #u4864-4 p,#u4848.PamphletThumbSelected #u4850-4 p,#u4836.PamphletThumbSelected #u4837-4 p,#u4851.PamphletThumbSelected #u4852-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4853-4
{
	z-index: 1190;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 70px;
}

#u4018.PamphletThumbSelected #u4020-4,#u4039.PamphletThumbSelected #u4041-4,#u4024.PamphletThumbSelected #u4025-4,#u4027.PamphletThumbSelected #u4028-4,#u4036.PamphletThumbSelected #u4037-4,#u4009.PamphletThumbSelected #u4010-4,#u4030.PamphletThumbSelected #u4031-4,#u4021.PamphletThumbSelected #u4023-4,#u4012.PamphletThumbSelected #u4013-4,#u4015.PamphletThumbSelected #u4016-4,#u4839.PamphletThumbSelected #u4840-4,#u4860.PamphletThumbSelected #u4862-4,#u4866.PamphletThumbSelected #u4867-4,#u4842.PamphletThumbSelected #u4844-4,#u4854.PamphletThumbSelected #u4856-4,#u4845.PamphletThumbSelected #u4846-4,#u4863.PamphletThumbSelected #u4865-4,#u4848.PamphletThumbSelected #u4849-4,#u4836.PamphletThumbSelected #u4838-4,#u4851.PamphletThumbSelected #u4853-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 11px -10000px 0px 0px;
}

#u4033.PamphletThumbSelected #u4035-4 p,#u4018.PamphletThumbSelected #u4020-4 p,#u4039.PamphletThumbSelected #u4041-4 p,#u4024.PamphletThumbSelected #u4025-4 p,#u4027.PamphletThumbSelected #u4028-4 p,#u4036.PamphletThumbSelected #u4037-4 p,#u4009.PamphletThumbSelected #u4010-4 p,#u4030.PamphletThumbSelected #u4031-4 p,#u4021.PamphletThumbSelected #u4023-4 p,#u4012.PamphletThumbSelected #u4013-4 p,#u4015.PamphletThumbSelected #u4016-4 p,#u4857.PamphletThumbSelected #u4859-4 p,#u4839.PamphletThumbSelected #u4840-4 p,#u4860.PamphletThumbSelected #u4862-4 p,#u4866.PamphletThumbSelected #u4867-4 p,#u4842.PamphletThumbSelected #u4844-4 p,#u4854.PamphletThumbSelected #u4856-4 p,#u4845.PamphletThumbSelected #u4846-4 p,#u4863.PamphletThumbSelected #u4865-4 p,#u4848.PamphletThumbSelected #u4849-4 p,#u4836.PamphletThumbSelected #u4838-4 p,#u4851.PamphletThumbSelected #u4853-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: left;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u4437
{
	z-index: 1209;
	
	border-style: none;
	border-color: transparent;
	padding-bottom: 80px;
	position: relative;
	left: -100px;
	margin-top: 65px;
	background: #FFFFFF url("http://rometheme.net/muse/prosoccer/images/sponsor.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3825_align_to_page,#u4437_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	
	position: relative;

}

#u3825{
	z-index: 160;
	border-style: none;
	border-color: transparent;
	padding-bottom: 69px;
	
	position: relative;
	
	background: #FFFFFF url("http://rometheme.net/muse/prosoccer/images/pageslide.jpg") no-repeat center center;
	
}

#u3829{
	z-index: 160;
	
	padding-bottom: 69px;
	
	position: relative;

	background: url("http://rometheme.net/muse/prosoccer/images/pageslide.jpg") center center;
	
}

#u4439
{
	z-index: 1210;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 122px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client1.png") no-repeat center center;
	background-size: contain !important;
}

#u4440
{
	z-index: 1211;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 318px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client2.png") no-repeat center center;
	background-size: contain !important;
}

#u4441
{
	z-index: 1212;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 514px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client3.png") no-repeat center center;
	background-size: contain !important;
}

#u4442
{
	z-index: 1213;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 710px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client4.png") no-repeat center center;
	background-size: contain !important;
}

#u4443
{
	z-index: 1214;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 906px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client5.png") no-repeat center center;
	background-size: contain !important;
}

#u4444
{
	z-index: 1215;
	width: 176px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 1102px;
	background: transparent url("http://rometheme.net/muse/prosoccer/images/client6.png") no-repeat center center;
	background-size: contain !important;
}

#u270-4
{
	z-index: 39;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#u259-4
{
	z-index: 43;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#u260-4
{
	z-index: 47;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#widgetu248.frm-sub-st #u270-4,#widgetu248.frm-subm-err-st #u259-4,#widgetu248.frm-subm-ok-st #u260-4
{
	min-height: 25px;
}

#u271-17
{
	z-index: 51;
	min-height: 36px;
	width: 133px;
	margin-right: -10000px;
	margin-top: 120px;
}

#u5634
{
	z-index: 144;
	width: 135px;
	margin-right: -10000px;
	margin-top: 178px;
	left: 850px;
}

#u5636
{
	z-index: 145;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
}

#u5635-4
{
	z-index: 146;
	width: 100px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 35px;
}

#u5638
{
	z-index: 150;
	width: 135px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 850px;
}



